#root {
  max-width: 100%;
  margin-top: 1px;
  margin: 0px;
  /* padding: 0.2rem; */
  /* text-align: ; */
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 0.5rem;
}


nav .active{
  color:  black;
  font-weight: 500;
}